<div id="<%= dom_id category %>">
  <table>

    <thead>
      <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr>
          <td><%= category.id%></td>
          <td><%= category.name%></td>
          <td><%= category.description%></td>
        </tr>
    </tbody>

  </table>
</div>
